language: node_js
node_js:
    - stable
install: npm install
services:
    - mongodb
script: npm run test
after_success: npm run coverage
deploy:
    provider: gae
    keyfile: cs3219-rest-api-eugene-013e2ceba8ce.json
    project: cs3219-rest-api-eugene
    on: travis-deploy
before_install:
    - openssl aes-256-cbc -K $encrypted_42e045efd64f_key -iv $encrypted_42e045efd64f_iv
      -in cs3219-rest-api-eugene-013e2ceba8ce.json.enc -out cs3219-rest-api-eugene-013e2ceba8ce.json
      -d
